//META{"name":"KanColleDesDiv6","description":"Compact purple-hued theme featuring the charming young ladies from KanColle's Destroyer Division 6.","author":"Chami","version":"1.0"}*//

/* root container background image */

#app-mount {
    background: url("https://raw.githubusercontent.com/planetarian/DiscordThemes/master/Assets/bg_6desdiv01.png");
    background-position: center;
    background-size: cover;
}

.titleBar-AC4pGV {
    margin-top: 0;
    padding-top: 4px;
    background: rgba(5,0,15,.95);
}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ {
    background: transparent;
}

.container-2lgZY8 {
    background: rgba(3,0,15,.87);
}

/* side panels (channels/users) */
.container-PNkimc,
.channels-Ie2l6A,
.theme-dark .members-1998pB {
    background-color: transparent;
    background: rgba(0, 0, 0, 0.125);
    /*background: rgba(0, 49, 54, 0.25);*/
}

/* chat pane & users panel */
.theme-dark .title-3qD0b-,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu > .content-yTz4x3,
.theme-dark .chat-3bRxxu form,
.theme-dark .headerBar-UHpsPw,
.theme-dark .friends-table,
.theme-dark #friends {
    background-color: transparent;
    /*background: rgba(0, 57, 62, 0.25);*/
}



/* servers bar (left) */


/* narrow servers bar */
.theme-dark .guildsWrapper-5TJh6A,
.guildsWrapper-5TJh6A {
    width: 48px;
    background-color: transparent;
    background: rgba(0,0,0,.5);
    /*background: rgba(0, 34, 37, 0.75);*/
}

/* servers container */
.guildsWrapper-5TJh6A .scroller-wrap {
    width: 62px;
}

/* scoots the server icons to the left */
.guildsWrapper-5TJh6A .guilds-1q_RqH {
    padding-top: 5px;
    padding-left: 4px;
}

/* BD public servers button */
#bd-pub-button {
    width: 39px;
}

/* selected guild highlight */
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 0px;
    opacity: 1;
    position: absolute;
    width: 48px;/*6*//*52*/
    height: 48px;
    left: -4px;/*-8*/
    background: #a5c;/*aaa*/
    top: 2px;
}

/* selected guild highlight */
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
    border-radius: 0px;
    opacity: 1;
    position: absolute;
    width: 48px;/*6*//*52*/
    height: 48px;
    left: -4px;/*-8*/
    background: #545;/*aaa*/
    top: 16px;
}

/* compacts the server icons */
.guildInner-3DSoA4,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guilds-error {
    height: 40px;
}

/* fixes server icon masks */
.guildsWrapper-5TJh6A .guilds-1q_RqH .friends-online,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-separator,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guilds-error {
    width: 40px;
}

/* down servers */
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guilds-error {
    line-height: 36px;
}

/* fixes friends icon size/pos */
.guild-1EfMGQ .friends-icon{
    background-size: 30px 30px !important;
    width: 40px !important;
    height: 42px !important;
}

/* fixes server icon sizes */
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildIcon-CT-ZDq {
    background-size: 40px 40px !important;
    width: 40px !important;
    height: 40px !important;
}

/* server separators plugin */
/* reduces space usage */
.guild-1EfMGQ[separator] {
    margin-bottom: 19px;
}

.guild-1EfMGQ[separator]::after {
    bottom: -10px;
}



/* channels list panel (left) */

/* server name header bar */
.header-2o-2hj {
    height: 32px;
    padding: 0 6px 0 10px;
}

/* reduce server name header font size */
/*.name-3gtcmp {    
    font-size: 75%;
}*/

/* narrow channels list panel */
.channels-Ie2l6A {
    width: 131px;
}

/* channels list group headers */
.nameDefault-2DI02H {
    font-size: 70%;
}

/* channels list item spacing */
.wrapper-KpKNwI {
    height: 28px;
}

/* channels list item inner spacing */
.content-20Aix8 {
    height: 24px;
    margin: 1px 0 1px 4px;
    padding: 0 4px;
}

/* channels/voice text */
.name-3M0b8v {
    font-size: 85%;
}

/* voice channels/items padding removal */
.listDefault-36Sktb {
    padding: 0px;
}

/* voice channel members */
.nameDefault-2s3kbY {
    font-size: 70%;
    color: #bbb;
}

/* user actions footer */
/* footer size */
.container-2Thooq {
    height: 44px;
}

/* user mic/phones/gear icons (bottom-left) */
.button-2b6hmh {
    width: 26px;
    height: 26px;
}



/* channel/chat pane (mid) */

/* channel header bar */
.title-3qD0b-,
.headerBar-UHpsPw,
.search-bar {
    height: 32px !important;
}

/* adds a bit of space below chat */
.messages {
    padding-bottom: 20px;
}

/* space between messages */
.container-1YxwTf {
    padding: 8px 0;
    margin-bottom: 0;
}

.containerCozy-jafyvG .dividerEnabled-2TTlcf {
    margin: 10px 10px -10px;
}

/* enhance visibility of links, mentions, reactions */
.theme-dark .container-1YxwTf a,
.mention,
.reaction-me div {
    color: #bf96df !important;
}

/* chat input box */
/* compact attach button */
.attachButton-1UjEWA {
    margin: 5px 0 5px 5px;
    padding: 0;
}

/* add a bit of space around the divider */
.attachButtonDivider-3Glu60 {
    margin: 0 5px;
}

/* translate plugin button */
.translate-button {
    top: 8px;
}

/* center emoji button */
.emojiButton-3uL3Aw {
    right: 7px;
    top: 8px;
}

/* textbox left/right space */
.chat-3bRxxu form {
    margin: 0 5px;
}

/* textbox top/bottom space */
.channelTextArea-1LDbYG {
    margin: 5px 0 5px;
}

/* textbox padding */
.textArea-2Spzkt {
    padding: 5px 38px 5px 0;
}

/* user(s) typing tip */
.theme-dark .typing-2GQL18 {
    background-color: #252535;
    opacity: 0.8;
    height: 16px;
    position: absolute;
    top: 8px;
    padding-left: 43px;
}


/* user(s) typing tip ellipsis */
.text-1y-e8-, .ellipsis-19qdx6 {
    font-size: 90%;
    margin-top: -5px;
    height: 20px;
    padding-right: 4px;
    opacity: 0.75;
}



/* channel users panel (right) */

/* narrow panel */
.membersWrap-2h-GB4 {
    min-width: 130px;
}

/* users inner container */
.members-1998pB {
    max-width: 130px;
}

/* users list group headers */
.membersGroup-v9BXpm {
}

/* users list item spacing */
.member-3W1lQa{
    padding: 5px 16px 5px 0px;
    height: 32px;
}

/* remove users list item padding */
.content-OzHfo4 {
    padding: 0px;
}

/* users list item avatars */
.avatar-small,
.avatarWrapper-3B0ndJ .avatar-16XVId {
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

/* users list item font size */
.username-1cB_5E {
    font-size: 80%;
}



/* friends list (left) */

/* friends search bar */
.search-bar input {
    height: 20px;
    font-size: 10px;
    padding: 0px;
}

/* reduces empty space above friends */
.scroller-2FKFPG {
    padding-top: 7px !important;
}

/* compacts friends list items */
.channel {
    height: 34px !important;
    padding: 0px;
}

/* inner friends list item container */
.channel a {
    height: 32px !important;
}

.channel-name {
    font-size: 85% !important;
}



/* online friends (mid) */

/* connects the online friends panel
with header */
.friends-table {
    margin-top: 0px !important;
    padding-top: 8px;
}

/* reduces online friends item height */
.friends-row {
    height: 40px !important;
}



/* user details flyout */

/* user details avatar */
.avatarWrapper-3H_478 .wrapper-2F3Zv8,
.avatarWrapper-3H_478 .avatar-16XVId,
.avatarWrapper-3H_478 .avatar-16XVId .image-33JSyf,
.avatar-3EQepX, /* profile details avatar */
.maskProfile-1ObLFT {
	height: 128px;
    width: 128px;
    -webkit-mask-size: 128px;
}

/* user details avatar status icon */
.avatarWrapper-3H_478 .wrapper-2F3Zv8 .status-oxiHuE,
.avatar-3EQepX .status-oxiHuE {
    width: 32px;
    height: 32px;
}


/* image viewer */

.imageWrapper-2p5ogY {
    display: block;
}

.downloadLink-1ywL9o {
    display: inline-block;
    margin: 0px 8px;
}

.bip-container .inner-1JeGVc .scrollerWrap-2lJEkd {
    display: inline;
}
